
{{ $chroma := resources.Get "js/chroma.js" | minify }}
{{ $color := resources.Get "js/color.js" | minify }}
{{ $scales := resources.Get "js/scales.js" | minify }}
{{ $main := resources.Get "js/main.js" | minify }}

<script type="text/javascript" src="{{ $chroma.RelPermalink }}"></script>
<script type="text/javascript" src="{{ $color.RelPermalink }}"></script>
<script type="text/javascript" src="{{ $scales.RelPermalink }}"></script>
<script type="text/javascript" src="{{ $main.RelPermalink }}"></script>