{{ define "main" }}
  <form onsubmit="return false" class="flex flex-col absolute inset-y-0 left-0 w-64 overflow-y-scroll p-10 text-gray-800 border-r border-gray-100">
    <div class="mb-12">
      <div class="flex">
        <div id="box1" class="w-4 h-4 mr-2 rounded-sm"></div>
        <div id="box2" class="w-4 h-4 mr-2 rounded-sm"></div>
        <div id="box3" class="w-4 h-4 mr-2 rounded-sm"></div>
      </div>
      <h1 class="my-4 font-como text-4xl font-black">huey</h1>
      <p class="">Light to dark palettes, <br /> across the rainbow.</p>
    </div>
    <div class="flex flex-col mb-6">
      <label for="hex-input" class="mb-2 ml-px text-xs uppercase font-semibold">Starting color</label>
      <input id="hex-input" type="color" onchange="makePalettes()" class="w-full h-10 py-2 pr-4 pl-4 text-gray-600 bg-transparent border border-gray-300 leading-normal transition-colors duration-100 ease-in-out rounded-lg focus:outline-none select-none truncate focus:bg-white focus:border-gray-400" />
    </div>
    <div class="flex flex-col mb-6">
      <label for="hue-input" class="mb-2 ml-px text-xs uppercase font-semibold">Total hues</label>
      <input id="hue-input" type="number" min="1" max="24" onchange="makePalettes()" placeholder="" class="appearance-none py-2 pr-4 pl-4 text-gray-600 bg-white border border-gray-300 leading-normal transition-colors duration-100 ease-in-out rounded-lg focus:outline-none select-none truncate focus:bg-white focus:border-gray-400" />
    </div>
    <div class="flex flex-col mb-6">
      <label for="mono-input" class="mb-2 ml-px text-xs uppercase font-semibold">Tints & shades</label>
      <input id="mono-input" type="number" min="1" max="24" onchange="makePalettes()" placeholder="" class="appearance-none py-2 pr-4 pl-4 text-gray-600 bg-white border border-gray-300 leading-normal transition-colors duration-100 ease-in-out rounded-lg focus:outline-none select-none truncate focus:bg-white focus:border-gray-400" />
    </div>
    <div class="flex flex-col">
      <p for="scale-by" class="mb-2 ml-px text-xs uppercase font-semibold">Scale by</p>
      <div class="flex items-center h-6 mb-2">
        <input class="mr-2" type="radio" onchange="makePalettes()" name="scale-by" id="intensity" value="intensity">
        <label for="intensity" class="text-xs text-gray-600">Intensity</label>
      </div>
      <div class="flex items-center h-6 mb-2">
        <input class="mr-2" type="radio" onchange="makePalettes()" class="text-sm" name="scale-by" id="lightness" value="lightness">
        <label for="lightness" class="text-xs text-gray-600">Lightness</label>
      </div>
      <div class="flex items-center h-6 mb-2">
        <input class="mr-2" type="radio" onchange="makePalettes()" name="scale-by" id="lumi" value="lumi">
        <label for="lumi" class="text-xs text-gray-600">Luminosity</label>
      </div>
    </div>
    <div class="mt-auto text-xs text-gray-400">Made with ♥️ by <a href="https://github.com/sparkpunk" rel="noreferrer">sparkpunk</a></div>
  </form>

  <div class="relative flex flex-col w-auto h-screen overflow-scroll ml-64 p-8 pb-8">
    <div class="flex items-center mb-4">
      <button onclick="getCSS()" class="appearance-none flex-shrink-0 mr-2 py-1 px-2 text-xs font-semibold leading-normal text-gray-400 bg-gray-100 rounded transition-colors duration-200 ease-in-out hover:bg-blue-500 hover:text-white">
        Copy CSS
      </button>
      <button onclick="getSCSS()" class="appearance-none flex-shrink-0 mr-2 py-1 px-2 text-xs font-semibold leading-normal text-gray-400 bg-gray-100 rounded transition-colors duration-200 ease-in-out hover:bg-blue-500 hover:text-white">
        Copy SCSS
      </button>
      <button onclick="getJSON()" class="appearance-none flex-shrink-0 mr-2 py-1 px-2 text-xs font-semibold leading-normal text-gray-400 bg-gray-100 rounded transition-colors duration-200 ease-in-out hover:bg-blue-500 hover:text-white">
        Copy Tailwind
      </button>
    </div>
    <div id="palette" class="flex-grow w-full h-full grid gap-2">
      <div class="grid-cols-1 grid-rows-1 row-gap-1 col-gap-1"></div>
      <div class="grid-cols-2 grid-rows-2 row-gap-2 col-gap-2"></div>
      <div class="grid-cols-3 grid-rows-3 row-gap-3 col-gap-3"></div>
      <div class="grid-cols-4 grid-rows-4 row-gap-4 col-gap-4"></div>
      <div class="grid-cols-5 grid-rows-5 row-gap-5 col-gap-5"></div>
      <div class="grid-cols-6 grid-rows-6 row-gap-6 col-gap-6"></div>
      <div class="grid-cols-7 grid-rows-7 row-gap-7 col-gap-7"></div>
      <div class="grid-cols-8 grid-rows-8 row-gap-8 col-gap-8"></div>
      <div class="grid-cols-9 grid-rows-9 row-gap-9 col-gap-9"></div>
      <div class="grid-cols-10 grid-rows-10 row-gap-10 col-gap-10"></div>
      <div class="grid-cols-11 grid-rows-11 row-gap-11 col-gap-11"></div>
      <div class="grid-cols-12 grid-rows-12 row-gap-12 col-gap-12"></div>
      <div class="grid-cols-13 grid-rows-13 row-gap-13 col-gap-13"></div>
      <div class="grid-cols-14 grid-rows-14 row-gap-14 col-gap-14"></div>
      <div class="grid-cols-15 grid-rows-15 row-gap-15 col-gap-15"></div>
      <div class="grid-cols-16 grid-rows-16 row-gap-16 col-gap-16"></div>
      <div class="grid-cols-17 grid-rows-17 row-gap-17 col-gap-17"></div>
      <div class="grid-cols-18 grid-rows-18 row-gap-18 col-gap-18"></div>
      <div class="grid-cols-19 grid-rows-19 row-gap-19 col-gap-19"></div>
      <div class="grid-cols-20 grid-rows-20 row-gap-20 col-gap-20"></div>
      <div class="grid-cols-21 grid-rows-21 row-gap-21 col-gap-21"></div>
      <div class="grid-cols-22 grid-rows-22 row-gap-22 col-gap-22"></div>
      <div class="grid-cols-23 grid-rows-23 row-gap-23 col-gap-23"></div>
      <div class="grid-cols-24 grid-rows-24 row-gap-24 col-gap-24"></div>
      <div class="text-xs text-center text-gray-800 rounded-sm opacity-50 focus:outline-none"></div>
      <div class="flex flex-col-reverse min-h-8 p-1 rounded shadow text-xs font-bold"></div>
    </div>
  </div>
  
{{ end }}