{{ define "main" }}
  <form onsubmit="return false" class="flex flex-col absolute inset-y-0 left-0 w-64 overflow-y-scroll p-10 text-gray-800 border-r border-gray-100">
    <div class="mb-12">
      <div class="flex">
        <div id="box1" class="w-4 h-4 mr-2 rounded-sm"></div>
        <div id="box2" class="w-4 h-4 mr-2 rounded-sm"></div>
        <div id="box3" class="w-4 h-4 mr-2 rounded-sm"></div>
      </div>
      <h1 class="my-4 font-como text-4xl font-black">huey</h1>
      <p class="">Light to dark palettes, <br /> across the rainbow.</p>
    </div>
    <div class="flex flex-col mb-6">
      <label for="hex-input" class="mb-2 ml-px text-xs uppercase font-semibold">Starting color</label>
      <input id="hex-input" type="color" onchange="grabValues()" class="w-full h-10 py-2 pr-4 pl-4 text-gray-600 bg-transparent border border-gray-300 leading-normal transition-colors duration-100 ease-in-out rounded-lg focus:outline-none select-none truncate focus:bg-white focus:border-gray-400" />
    </div>
    <div class="flex flex-col mb-6">
      <label for="hue-input" class="mb-2 ml-px text-xs uppercase font-semibold">Total hues</label>
      <input id="hue-input" type="number" onchange="grabValues()" placeholder="" class="appearance-none py-2 pr-4 pl-4 text-gray-600 bg-white border border-gray-300 leading-normal transition-colors duration-100 ease-in-out rounded-lg focus:outline-none select-none truncate focus:bg-white focus:border-gray-400" />
    </div>
    <div class="flex flex-col mb-6">
      <label for="mono-input" class="mb-2 ml-px text-xs uppercase font-semibold">Tints & shades</label>
      <input id="mono-input" type="number" onchange="grabValues()" placeholder="" class="appearance-none py-2 pr-4 pl-4 text-gray-600 bg-white border border-gray-300 leading-normal transition-colors duration-100 ease-in-out rounded-lg focus:outline-none select-none truncate focus:bg-white focus:border-gray-400" />
    </div>
    <div class="flex flex-col">
      <p for="scale-by" class="mb-2 ml-px text-xs uppercase font-semibold">Scale by</p>
      <div class="flex items-center h-6 mb-2">
        <input class="mr-2" type="radio" onchange="grabValues()" name="scale-by" id="intensity" value="intensity">
        <label for="intensity" class="text-xs text-gray-600">Intensity</label>
      </div>
      <div class="flex items-center h-6 mb-2">
        <input class="mr-2" type="radio" onchange="grabValues()" class="text-sm" name="scale-by" id="lightness" value="lightness">
        <label for="lightness" class="text-xs text-gray-600">Lightness</label>
      </div>
      <div class="flex items-center h-6 mb-2">
        <input class="mr-2" type="radio" onchange="grabValues()" name="scale-by" id="lumi" value="lumi">
        <label for="lumi" class="text-xs text-gray-600">Luminosity</label>
      </div>
    </div>
  </form>

  <div class="relative flex flex-col w-auto h-screen overflow-scroll ml-64 p-8">
    <div class="flex items-center mb-4">
      <button onclick="getCSS()" class="appearance-none flex-shrink-0 mr-2 py-1 px-2 text-xs font-semibold leading-normal text-gray-400 bg-gray-100 rounded transition-colors duration-200 ease-in-out hover:bg-blue-500 hover:text-white">
        Copy CSS
      </button>
      <button onclick="getSCSS()" class="appearance-none flex-shrink-0 mr-2 py-1 px-2 text-xs font-semibold leading-normal text-gray-400 bg-gray-100 rounded transition-colors duration-200 ease-in-out hover:bg-blue-500 hover:text-white">
        Copy SCSS
      </button>
      <button onclick="getJSON()" class="appearance-none flex-shrink-0 mr-2 py-1 px-2 text-xs font-semibold leading-normal text-gray-400 bg-gray-100 rounded transition-colors duration-200 ease-in-out hover:bg-blue-500 hover:text-white">
        Copy Tailwind
      </button>
    </div>
    <div id="palette" class="flex-grow w-full h-full grid gap-2"></div>
  </div>
  <script type="text/javascript" src="./src/scripts/chroma.js"></script>
  <script type="text/javascript" src="./src/scripts/color.js"></script>
  <script type="text/javascript" src="./src/scripts/scales.js"></script>
  <script type="text/javascript" src="./src/scripts/main.js"></script>
{{ end }}