<div class="grid-cols-1 row-gap-1 col-gap-1"></div>
<div class="grid-cols-2 row-gap-2 col-gap-2"></div>
<div class="grid-cols-3 row-gap-3 col-gap-3"></div>
<div class="grid-cols-4 row-gap-4 col-gap-4"></div>
<div class="grid-cols-5 row-gap-5 col-gap-5"></div>
<div class="grid-cols-6 row-gap-6 col-gap-6"></div>
<div class="grid-cols-7 row-gap-7 col-gap-7"></div>
<div class="grid-cols-8 row-gap-8 col-gap-8"></div>
<div class="grid-cols-9 row-gap-9 col-gap-9"></div>
<div class="grid-cols-10 row-gap-10 col-gap-10"></div>
<div class="grid-cols-11 row-gap-11 col-gap-11"></div>
<div class="grid-cols-12 row-gap-12 col-gap-12"></div>
<div class="grid-cols-16 row-gap-16 col-gap-16"></div>